* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 790px;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transform-style: preserve-3d;
  font-size: 1rem;
}

.card section {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 0;
}

.front {
  background-color: white;
  box-shadow: 2px 11px 26px 2px rgba(17, 17, 26, 0.12);
  overflow: hidden;
  display: grid;
  grid-template: "container";
  border: 1rem solid white;
}

.front > * {
  grid-area: container;
}

.back {
  padding: 1rem;
  position: relative;
  background-color: #fff;
  box-shadow: 2px 11px 26px 2px rgba(17, 17, 26, 0.12);
  transform: rotateY(180deg);
  overflow: hidden;
  border: 1rem solid white;
  z-index: 1;
}

p,
h2 {
  margin-top: 1rem;
}

.headline {
  height: max-content;
  z-index: 1;
  text-align: center;
  font-size: 3rem;
}

.postcardimage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.back > .postcardimage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
